if SHIELD_REX_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Rex_Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_REX_CORNE_LEFT || SHIELD_REX_CORNE_RIGHT

config ZMK_SPLIT
    default y

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif